body {
    background-color: #F2F3D9;
    color: #030027;
    font-family: Roboto, Roboto, sans-serif;
    margin: 0;
}

.introduction-text {
    text-align: center;
}

.three-blocks-container {
    list-style: none;
    /*background-color: green;*/
    color: #151E3F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;

}

.block-item-one, .block-item-two, .block-item-three {
    box-sizing: border-box;
    background-color: #C16E70;
    margin: 15px;
    padding: 15px;
    height: 350px;
    border-radius: 5px;
    flex-basis: 280px;
    text-align: center;
    display: flex;
    align-items: flex-end;
}

.navbar {
    display: flex;
    background-color: #030027;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.navbar-items {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 33%;
    margin: 40px
}

.navbar-items a {
    color: white;
    text-decoration: none;
}

.navbar-items a:visited {
    color: white;
    text-decoration: none;
    list-style: none;
}

#company-name {
    text-transform: uppercase;
    margin: 40px;
}